<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPage</title>
    <script>
        window.onload = function () {
            var sse = new EventSource('/chatpage/sse');
            sse.onmessage = function (event) {
                console.log(event.data);
                var message = JSON.parse(event.data);
                var tr = document.createElement("tr");
                var td = document.createElement("td");
                var text = document.createTextNode(message['username'] + " : " + message['content']);
                td.appendChild(text);
                tr.appendChild(td);
                document.getElementById("msg-table-body").appendChild(tr);
            }
        }
    </script>
</head>

<body>
    <div><a href="/logout">ログアウト</a></div>

    <h1>
        ようこそ [[${name}]]
    </h1>

    <table>
        <tbody id="msg-table-body">
            <tr th:each="msg:${messages}">
                <td>[[${msg.username}]] : [[${msg.content}]]</td>
            </tr>
        </tbody>
    </table>
    <br>
    <form th:action="@{/chatpage}" method="post">
        send message:
        <input type="text" name="send_message" />
        <input type="submit" value="送信" />
    </form>
</body>

</html>