<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <a href="/">スタートページへ戻る</a>

    <form style="text-align:center;" method="post" th:action="@{/register}" th:object="${registerUserForm}">
        <ul th:if="${#fields.hasGlobalErrors()}">
            <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
        </ul>
        <h1>ユーザー登録フォーム</h1>
        <br>
        ユーザー名:
        <input type="text" th:field="*{username}" required />
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

        <br>

        パスワード:
        <input type="password" th:field="*{password}" required />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>

        <br>

        パスワード(確認):
        <input type="password" th:field="*{confirm}">
        <span th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span><br>
        <input type="submit" value="登録" />
    </form>
</body>

</html>