<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form th:action="@{/register}" method="post">
        ユーザー名:
        <input type="text" name="username" /><br>
        パスワード:
        <input type="password" name="password" /><br>
        パスワード(確認):
        <input type="password" name="password2" /><br>
        <input type="submit" value="登録" />
    </form>
</body>

</html>