<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form method="post" th:action="@{/register}" th:object="${registerUserForm}">
        <ul th:if="${#fields.hasGlobalErrors()}">
            <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
        </ul> 
        ユーザー名:<br>
        <input type="text" th:field="*{username}" required/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>
        パスワード:<br>
        <input type="password" th:field="*{password}" required/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>
        パスワード(確認):<br>
        <input type="password" th:field="*{confirm}">
        <span th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span><br>
        <input type="submit" value="登録" />
    </form>
</body>

</html>