<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh"
        content="1;URL='http://scp-jp.wdfiles.com/local--resized-images/sinni/%E3%81%97%E3%82%93%E3%81%AB/medium.jpg'" />
    <title>しんに</title>
    <!--隠しギミック-->
    <!--<a href="http://scp-jp.wikidot.com/scp-511-jp">元ネタ</a>-->
    <!--<a href="http://scp-jp.wikidot.com/sinni">元ネタ</a>-->
</head>
<style>
    body {
        background-color: black;
        color: maroon;
        font-size: 500px;
        text-align: center;
    }
</style>

<body>
    死ね
    <!--<a href="http://scp-jp.wikidot.com/sinni">元ネタのページソース718行目(0pxギミック)より</a>-->
</body>

</html>