<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: {
                    url: '/event/all'
                }
            });
        });
    </script>
</head>

<body>
    <a style="float: right;" href="/logout">ログアウト</a>

    <h1>
        ようこそ [[${name}]]
    </h1>

    <a href="/profile">ユーザ設定</a>

    <h2>ルーム作成</h2>
    <form method="post" th:action="@{/room/register}" th:object="${registerRoomForm}">
        ルーム名:<br>
        <input type="text" th:field="*{name}" required />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
        <input type="submit" value="登録" />
    </form>

    <br>

    <div th:if="!${#lists.isEmpty(rooms)}">
        <h2>ルーム入室</h2>
    </div>

    <div th:each="room:${rooms}">
        <a th:href="@{/chatpage(id=${room.id})}">[[${room.name}]]</a>
    </div>

    <div>
        <h2>リマインダー</h2>
        <form method="POST" th:action="@{/event/register}" th:object="${registerEventForm}">
            リマインダータイトル<input type="text" th:field="*{title}" required />
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
            開始日<input type="date" th:field="*{start_at}" max="9999-12-31">
            <span th:if="${#fields.hasErrors('start_at')}" th:errors="*{start_at}"></span>
            終了日<input type="date" th:field="*{end_at}" max="9999-12-31">
            <span th:if="${#fields.hasErrors('end_at')}" th:errors="*{end_at}"></span><br>
            <input type="submit" value="登録" />
        </form>

        <div id='calendar'></div>

    </div>

    <div>
        <div th:if="!${#lists.isEmpty(messages)}">
            <h2>最新10件のコメント</h2>
        </div>
        <div class="chat__message" th:each="msg:${messages}">
            [[${msg.room_name}]] [[${msg.username}]] [[${msg.content}]]
        </div>
    </div>
</body>

</html>